# Auto build from buildContainer script
audioPath=
textPath=
dataPath=
wavPath=
processedAudioPath=
tempPath=
failedPath=
openai_api_key=
NotionDB=
Notion_secret=
 
# Run automation x every min
*/10 * * * * python /app/main.py
