# Auto build from buildContainer script
NOTION_TOKEN=
NOTION_TOKEN_heartbeat=
PYTHONPATH=/app/appRequirements
 
# Run automation every min
*/10 * * * * bash /app/runSchedule.sh >> /var/log/myjob.log 2>&1
